@import "@fontsource/poppins";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to right, rgb(28, 50, 55), rgb(3, 28, 57));
    box-shadow: inset 0px 0px 80px 10px rgb(0, 0, 0);
}

*{
    font-family: "Poppins";
}